apiVersion: v1
kind: Service
metadata:
  name: springboot-service
  namespace: springboot      # <--- namespace هنا برضه
spec:
  selector:
    app: springboot-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIp
